<div class="row ml-0 mt-3">
  <h2>Edit User Profile</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to edit your user profile:</p>
</div>
<%= render partial: "form",
           locals: {
               user: @user,
               submit_btn_text: "Update",
           } %>
<%= button_to "Change Password", edit_user_password_path, class:"btn btn-sm btn-outline-secondary my-2 my-sm-0" %>