<p id="notice"><%= notice %></p>

<h1>
  <% @users.name %>
</h1>

<h1><%=@users.name%></h1>
<body>
  <div>
    <aside id="customer_info">
      <%=@users.location%>
    </aside>
    <main>
    </main>
  </div>
  <%=@users.biography%>
</body>
