<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |id| %>
    <tr>
      <td><%= link_to Event.find(id).name, event_path(id) %></td>
      <td><%= Event.find(id).date %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
