<div class="col-md-0">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h5 class="card-title"><%= org.name %></h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group" align="bottom">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", org %></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(org) %></button>
          <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
      </div>
      <br>
    </div>
    <div class="col-auto d-none d-lg-block">
      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <% if org.flyer.attached? %>
          <%= image_tag(org.flyer, width: "400px", data: { target: "#myModal", toggle: "modal"}) %>
        <% end %>
      </svg>
    </div>
  </div>
</div>