<p id="notice"><%= notice %></p>
<h1>Organizations</h1>
<div class="row ml-0 mt-2 mb-3">
  <%= link_to "Add Organization", new_organization_path, class: ["btn", "btn-primary"] %>
</div>
<table>
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>
  <% @organizations.each do |org| %>
    <tr>
      <td>
        <%= render partial: 'organization_tile', locals: { org: org } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
