
<!-- TODO: Generate a table contaning the latest five events in the database -->
<html>
  <body>
  <div class="card img-fluid rounded bg-white text-white">
    <%= link_to image_tag("city2.jpg", width: "100%")%>
    <div class="card-img-overlay p-4 p-md-5">
      <h4 class="display-4 font-italic text-white">Title of a longer featured blog post</h4>
      <p class="card-text lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
        about what’s most interesting in this post’s contents.</p>
    </div>
  </div>
  <br>
  <h2 align="center">
    Latest events
  </h2>
  <br>
  <div class="row">
    <% Event.order("created_at DESC").last(3).each do |id| %>
      <%= render partial: '/events/event_tile', locals: { id: id.id} %>
    <% end %>
  </div>
  </body>
</html>
